extends base.pug

block content
    if errorMessage  
        span=errorMessage
    form(method="post") 
        input(placeholder = "Title", name="title", required, type="text", maxlength=80)
        input(placeholder = "Description", name="description", required, type="text", minlength=20)
        input(placeholder = "Hashtags, separated by comma.", name="hashtags", required, type="hashtags")
        input(value ="Upload Video" type="submit")